body{
  background:#fff;
  color:#273a34;
  font-family:'WorkSans';
}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #619dba;
}
::selection {
    color: #222;
    background: #619dba;
}
.animate *{
  -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.animate.slow *{
  -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a{
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a:hover{
  background:rgba(92, 131, 150, 0.9);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a{
  padding:1px 3px;
  background:rgba(92, 131, 150, 0.63);
  box-sizing:border-box;
  color:#201919;
}
/*> generals / contents*/
  section.content h1{
    margin-bottom:0.6em;
    font-family:'Lato';
  }
  section.content p{
    line-height:1.4;
  }
  section.content a{
    font-weight:600;
  }
/*> hero*/
  section.hero{
    height:100%;
    width:100%;
    position:relative;
  }
  section.hero .wrapper{
    height:100%;
    width:100%;
    /*background:rgba(95, 176, 191,0.4);*/
    position:relative;
  }
  /*> title*/
    header.title{
      margin-top:3em;
      padding:0.4em;
      border:4px solid #000;
      /*background:#000;*/
      /*background:#1400b5;*/
      box-sizing:border-box;
      position:relative;
      width:360px;
    }
    header.title h1{
      position:;
      color:#000;
      text-transform:uppercase;
      font-family:'WorkSans-Bold';
    }
    header.title h2{
      line-height:1.4;
    }
    header.title .explore{
      padding:0.6em 0.9em;
      background:#1400b5;
      box-sizing:border-box;

      display:inline-block;
      position:absolute;
      bottom:-20px;
      right:-30px;
      color:#fff;
    }
    header.title .explore p{
      position:relative;
      z-index:1172;
    }
    header.title .explore .border{
      box-sizing:border-box;
      border:4px solid #1400b5;
      height:100%;
      width:100%;
      z-index:1171;
      position:absolute;
      bottom:-7px;
      right:-7px;
    }
  /*> body*/
    section.body{
      background:rgb(79, 200, 148);
    }
    section.body .align-left{float:left;}
    section.body .align-right{float:right;}
