body{
  background:#1C2024;
  color:#273a34;
  font-family:'WorkSans';
}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #619dba;
}
::selection {
    color: #222;
    background: #619dba;
}
.animate *{
  -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.animate.slow *{
  -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a{
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a:hover{
  background:rgba(92, 131, 150, 0.9);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a{
  padding:1px 3px;
  box-sizing:border-box;
  color:#0500ff;
}
/*> generals / contents*/
  /*> site-nav*/
    #site-nav{
      display: inline-block;
      width:100%;
      color:#fff;
    }
    #site-nav .wrapper{
      padding:2.1em 0.6em;
      font-size:80%;
    }
    #site-nav .wrapper ul li{
      margin:4px 6px;
      padding:4px 2px;
      display: inline-block;
    }

    @media all and (max-width: 1200px) {

    }
  /*> body*/
    #site-body{

    }
    #site-body .a-left{float:left;}
    #site-body .a-right{float:right;}

/*> #site-footer*/
  #site-footer{
    padding:1.6em;
    box-sizing:border-box;
    width:100%;
    background:#52465b;
  }
