body{
  background:#fff;
  color:#273a34;
  font-family:'WorkSans';
}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #619dba;
}
::selection {
    color: #222;
    background: #619dba;
}
.animate *{
  -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.animate.slow *{
  -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a{
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a:hover{
  background:rgba(92, 131, 150, 0.9);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a{
  padding:1px 3px;
  background:rgba(92, 131, 150, 0.63);
  box-sizing:border-box;
  color:#201919;
}
/*> generals / contents*/
  section.content h1{
    margin-bottom:0.6em;
    font-family:'Lato';
  }
  section.content p{
    line-height:1.4;
  }
  section.content a{
    font-weight:600;
  }
/*> hero*/
  section.hero{
    height:100%;
    width:100%;
    position:relative;
  }
  section.hero .wrapper{
    height:100%;
    width:100%;
    /*background:rgba(95, 176, 191,0.4);*/
    position:relative;
  }
  /*> title*/
    section.title{
      padding:2.4em 1.1em;
      border:6px solid #000;
      background:#000;
      /*background:#1400b5;*/
      box-sizing:border-box;
      position:relative;
      display:inline-block;
      width:320px;
    }
    section.title h1{
      position:relative;
      top:-5px;
      left:-10px;
      color:#fff;
      text-transform:uppercase;
      font-size:3.6em;
      font-family:'WorkSans-Bold';
    }
    section.title h2{
      opacity:1;
      color:#fff;
      text-transform:uppercase;
      width:200px;
      line-height:1.2;
      font-family:'WorkSans-Bold';
    }
    section.title .explore{
      padding:1em 2em;
      background:#1400b5;
      position:absolute;
      bottom:-25px;
      right:-15px;
      display:inline-block;
      cursor:pointer;
      color:#fff;
      text-transform:uppercase;
    }
    section.title .explore:hover{
      text-decoration:underline;
      background:#1400b5;
    }
    section.title .explore .border{
      height:100%;
      width:100%;
      position:absolute;
      background:rgb(187, 134, 67);
    }
